body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fce4ec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.quiz-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 550px;
    text-align: center;
}

.game-title {
    color: #ad1457;
    font-size: 2rem;
    margin-bottom: 10px;
}

.stats-preview {
    margin: 20px 0;
    font-size: 0.9rem;
    color: #666;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #880e4f;
    margin-bottom: 15px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color: #f06292;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ec407a;
    transform: scale(1.02);
}

.main-action-btn {
    background-color: #ad1457;
    padding: 15px 40px;
    font-weight: bold;
}

.hide { display: none; }

/* Sertifikat */
.certificate {
    background: white;
    border: 10px double #ad1457;
    padding: 20px;
    margin-top: 20px;
}
.cert-border { border: 2px solid #880e4f; padding: 20px; }
.certificate h1 { font-family: 'Times New Roman', serif; color: #ad1457; }
.print-btn { background-color: #4caf50; width: 100%; margin-top: 20px;}
.restart-btn { background-color: #2196f3; width: 100%; margin-top: 10px;}

@media print {
    body * { visibility: hidden; }
    #certificate-container, #certificate-container * { visibility: visible; }
    .print-btn, .restart-btn { display: none; }
}
